body{
  background: #FFFAF0;
	margin: 0;
	line-height: 1.618em;
}
#page{
	padding: 3em 0.5em;
	color: #1f1f1f;
}
.novell{
	display: none;
	font-family: Georgia;
}
h3{
	text-align: left;
}
h4{
	text-align: center;
	font-style: italic;
	font-weight: normal;
}
p{
	/*text-align: justify;*/
}
p.author{
	font-style: italic;
	border-top: 1px solid #cecece;
	margin-bottom: 2em;
	padding: 0.4em 0 0 0.5em;
	font-size: .7em
}
p.author span,
p.author a{
	color: #acacac;
	text-decoration: none;
}
blockquote{
	margin: 1em;
	font-style: italic;
	font-size: 0.9em;
}
blockquote:after{
	color: #757575;
	content: "”";
	font-size: 2em;
	line-height:.1em;
	margin-left:.25em;
	vertical-align:-.4em;
}
blockquote:before{
	color: #757575;
	content:"„";
	font-size: 2em;
	line-height:.1em;
	margin-right:.25em;
}
.fb-like{
	width: 80%;
	margin-top: 2em;
}
.minic-studio{
	background: #252525;
	border-top: 1px solid #6d6d6d;
	width: 100%;
	height: 46px;
}
.minic-studio img{
	margin: 4px 0 0 2px;
}
@media screen and (max-width: 600px) {
	#page{
		font-size: 1.05em;
		background: #FFFAF0;
		padding: 1em 0.5em;
	} 
}
@media screen and(min-width: 601px){
	#page{
		width: 600px;
		margin: 0 auto;
	}
}
